.blog {
padding-left: 10%;
padding-right: 10%;
    
}

.blog {
    @include e(btn-more){
        @include h {
            background-color: $pizzaYellow;
        }
    }
}

.blog {
    @include e(h3){
        @include h {
            transition: all 0.3s;
            cursor: pointer;
            transform: scale(1.1);
            color: $pizzaRed;
        }
    }
}